@model IEnumerable<AudioModel>
@{
    ViewData["Title"] = "Downloads";
    var i = 0;
}
<div class="text-center">
    <h1 class="display-4">Downloads</h1>
</div>
<div class="text-center">
    <h1 class="display-4">artist</h1>
    <ul class="list-group">
        @foreach (var audio in Model)
        {
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <div class="audio-data-@i" onclick='audioPlayer(@Html.Raw(Json.Serialize(audio)))'>
					@audio.Artist - @audio.Name
                </div>
                <div class="d-flex gap-2">
                    <button class="btn btn-light link" data-url="@Url.Action("AddToFavoriteArtists", "Favorite", new {artist=audio.Artist})">Add to Favorites</button>
                    <button class="btn btn-light link" data-url="@Url.Action("RemoveFromFavoriteArtists", "Favorite", new { artist = audio.Artist })">Remove from favorites</button>
                    <button class="btn btn-light link" data-url="@Url.Action("Delete", "Download", new { songId = audio.SongId })">Remove from favorites</button>
                </div>
            </li>
			i++;
        }
    </ul>
</div>
@section Script {
    <script src="~/js/site.js" asp-append-version="true"></script>
}