<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HiFiTelegramApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="~/lib/clusterize/clusterize.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" id="artists-css" href="~/css/artists.css" disabled />
    <link rel="stylesheet" id="artist-css" href="~/css/artist.css" disabled />
    <link rel="stylesheet" id="favorite-css" href="~/css/favorite.css" disabled />
    <link rel="stylesheet" id="download-css" href="~/css/download.css" disabled />
    <link rel="stylesheet" href="~/css/player.css" />
    <link rel="icon" href="@Url.Content("~/miku hatsune.ico")"/>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">HiFiTelegramApp</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <span class="nav-link text-light" data-url="@Url.Action("ArtistsCollection", "Home")">Artists</span>
                        </li>
                        <li class="nav-item">
                            <span class="nav-link text-light" data-url="@Url.Action("Index", "Favorite")">Favorites</span>
                        </li>
                        <li class="nav-item">
                            <span class="nav-link text-light" data-url="@Url.Action("Index", "Download")">Downloads</span>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div id="loading-spinner">
        <i class="spinner-border"></i>
    </div>
    <div class="container" id="append-ajax">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer>
        <div class="player">
			<div class="container-player">
                <div class="d-flex align-items-center">
                    <div class="album-art"></div>
                    <div class="track-info">
                        <label id="song">Song</label>
                        <label id="artist">Artist</label>
                    </div>
                    <i class="fas fa-heart heart-icon"></i>
                </div>
                <div class="player-controls">
                    <div class="control-buttons">
                        <button id="previous" class="icon-btn"> <i class="bi text-light bi-skip-start-fill side-btn"></i> </button>
                        <button class="icon-btn"><i id="player-ps-btn" class="bi text-light bi-pause-circle-fill"></i></button>
                        <button id="next" class="icon-btn"> <i class="bi text-light bi-skip-end-fill side-btn"></i> </button>
                    </div>
				</div>
                <div class="progress-container">
                    <label id="time">0:00</label>
					<div class="col-md-12 text-center">
                        <div class="progress-bar">
                            <input type="range" id="progress" value="0" min="0" max="100">
						</div>
                    </div>
                    <label id="duration">0:00</label>
				</div>
                <div class="right-controls">
                    <div class="volume-container">
                        <label for="customRange1" class="form-label"><i class="bi bi-volume-down" style="font-size:30px"></i></label>
                        <input type="range" class="form-range" id="volume" value="25">
                    </div>
                </div>
			</div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/jquery-ajax-unobtrusive/dist/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/howler/dist/howler.js"></script>
	<script src="~/lib/clusterize/clusterize.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
	<script src="~/js/player.js" asp-append-version="true"></script>
	<script src="~/js/favorites.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>