@model IEnumerable<SongModel>

@{
    ViewData["Title"] = "Artist Page";
	var artist = ViewData["Artist"] as string;
}

<div class="text-center">
    <h1 class="display-4">artist</h1>
    <ul class="list-group">
        @foreach (var song in Model)
        {
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <div>
                    <span asp-controller="Home" asp-action="Artist" asp-route-name="@song.SongId">
                        @song.Name
                    </span>
                </div>
                <div class="d-flex gap-2">
                    <form asp-controller="Favorite" asp-action="AddToFavoriteArtists" asp-route-artist="@song.Artist">
                        <button type="submit" class="btn btn-light">Add to favorites</button>
                    </form>
                    <form asp-controller="DownloadSong" asp-action="DownloadSong" asp-route-artist="@song.Artist">
						<input type="hidden" name="songId" value="@song.SongId" />
                        <button type="submit" class="btn btn-light">Download</button>
                    </form>
                </div>
            </li>
        }
    </ul>
</div>